.grapich {
  background-image: url(/src/assets/header/bg.jpg);
  background: #000;
  position: relative;
}
.grapich .grapich-col {
  padding: 100px 50px 30px 50px;
  color: #fff;
}
.grapich .grapich-col h2 {
  font-family: "ghanachoco";
  font-size: 50px;
}
.grapich .grapich-col p {
  color: #E7C700;
  font-size: 18px;
}
.grapich .work__wrap {
  display: flex;
  width: 200%;
  gap: 90px;
  margin-top: 100px;
  align-items: flex-start;
  padding: 0 100px;
}
.grapich .work__wrap .work__list {
  position: relative;
  width: 19vw;
  border: 1px solid #fff;
  flex-shrink: 0;
  min-width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  transition: 0.35s;
}
.grapich .work__wrap .work__list img {
  width: 100%;
  transition: 0.35s;
  filter: saturate(0);
}
.grapich .work__wrap .work__list .unm {
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-background-clip: text;
  font-family: "ghanachoco";
  position: absolute;
  left: -70px;
  top: -56px;
  font-size: 70px;
}
.grapich .work__wrap .work__list:hover {
  margin-top: 0;
}
.grapich .work__wrap .work__list:hover .unm {
  -webkit-text-stroke-color: #E7C700;
  -webkit-text-fill-color: #E7C700;
  -webkit-text-stroke-width: 1px;
  -webkit-background-clip: text;
}
.grapich .work__wrap .work__list:hover img {
  margin-top: 0;
  filter: none;
}