.works {
  position: relative;
  background: #000;
}
.works .bottom .cloud-1 {
  position: absolute;
  bottom: 0;
  width: 1902px;
  z-index: 99;
}
.works .bottom .cloud-2 {
  position: absolute;
  bottom: 0;
  width: 1902px;
}
.works .path-1 {
  fill: transparent;
  stroke: transparent;
  stroke-miterlimit: 10;
  stroke-width: 0.92px;
}

@media (max-width: 767px) {
  .works-intro {
    padding: 50px;
  }
  .works-intro h2 {
    font-family: "ghanachoco";
    color: #fff;
    font-size: 50px;
  }
  .works-intro p {
    color: #E7C700;
  }
  .works-container {
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
  }
  .works-container .next {
    width: 40px;
  }
  .works-container .prev {
    width: 40px;
  }
  .works-container ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .works-container ul li {
    padding: 3px 10px;
  }
  .works-container ul li span {
    color: #E7C700;
  }
  .works-container ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .works-container ul li a img {
    margin-top: 3px;
  }
  .works-contents {
    width: 400px;
    position: relative;
    margin: 0 auto;
  }
  .works-contents .tv {
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 460px;
    z-index: 99;
  }
  .works-contents .noise {
    width: 100%;
    height: 320px;
  }
}
@media (min-width: 768px) {
  .works-intro {
    padding: 100px 50px;
  }
  .works-intro h2 {
    font-family: "ghanachoco";
    color: #fff;
    font-size: 50px;
  }
  .works-intro p {
    color: #E7C700;
  }
  .works-container {
    color: #eee;
    height: calc(100vh - 600px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }
  .works-container .next {
    margin-top: 65px;
    width: 40px;
  }
  .works-container .prev {
    margin-top: 65px;
    width: 40px;
  }
  .works-container ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaa;
    padding: 0%;
  }
  .works-container ul li {
    padding: 3px 10px;
  }
  .works-container ul li span {
    color: #E7C700;
  }
  .works-container ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .works-container ul li a img {
    margin-top: 3px;
  }
  .works-contents .tv {
    top: 330px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 560px;
    z-index: 99;
  }
  .works-contents .noise {
    top: 340px;
    left: 48%;
    transform: translateX(-50%);
    position: absolute;
    width: 460px;
    height: 360px;
  }
}
@media (min-width: 1200px) {
  .works-intro {
    padding: 100px 50px;
  }
  .works-intro h2 {
    font-family: "ghanachoco";
    color: #fff;
    font-size: 50px;
  }
  .works-intro p {
    color: #E7C700;
    font-size: 18px;
  }
  .works-container {
    color: #eee;
    height: calc(100vh - 600px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }
  .works-container .next {
    margin-top: 35px;
    width: 40px;
  }
  .works-container .prev {
    margin-top: 35px;
    width: 40px;
  }
  .works-container ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaa;
    padding: 0;
  }
  .works-container ul li {
    padding: 3px 10px;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
  }
  .works-container ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .works-container ul li a img {
    margin-top: 3px;
  }
  .works-container ul li span {
    color: #E7C700;
  }
  .works-contents .tv {
    top: 330px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 560px;
    z-index: 99;
  }
  .works-contents .noise {
    top: 340px;
    left: 48%;
    transform: translateX(-50%);
    position: absolute;
    width: 460px;
    height: 360px;
  }
}