header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    color: #fff;
    ul{
        display: flex;
        gap: 30px;
        font-size: 21px;
        justify-content: center;
        padding: 10px;
    }
}