.project {
    background: #000;
    overflow: hidden;
    color: #fff;
    position: relative;

    .project_intro {
        padding: 50px;
        display: flex;
        align-items: center;
        gap: 50px;

        h2 {
            font-family: 'ghanachoco';
            font-size: 50px;
        }

        a {
            height: 50px;
            background: #fff;
            color: #000;
            display: flex;
            gap: 50px;
            padding: 10px 40px;
            border-radius: 50px;

            img {
                width: 30px;
                height: 30px;
            }
        }

    }

    p {
        font-size: 50px;
        text-align: center;
        padding-top: 160px;

        span {
            color: #FC6515;
            font-weight: bold;

        }
    }

    .moon {
        position: absolute;
        top: 650px;
        left: 50%;
        transform: translateX(-50%);
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        img{
            width: 50px;
        }
    }



}